<nav class="w-screen h-12 flex items-center bg-white border-b border-solid border-gray-300" data-test-header-bar>
  <div id="logo" class="h-full flex items-center px-2 logo-gradient">
    <LinkTo @route="index">
      <Icons::Logo @size="30px" @color="white"/>
    </LinkTo>
  </div>

  <div class="flex-1 mx-2">
    <LinkTo @route="index">
      <h1 class="text-lg roboto-medium">Model-Editor</h1>
    </LinkTo>
  </div>

  <div class="mx-2">
    <div class="px-1 dropdown">
      <div class="h-12 flex items-center">
        <Icons::More @size="1.25rem" @color="#5F6369" />
      </div>

      <div class="dropdown-content divide-y border-l border-r border-b border-solid border-gray-300 top-z-index bg-white">
        <LinkTo class={{if this.modelStorage.isPlottingError "cursor-not-allowed"}} data-test-view-button
          @route={{if (eq @currentPath "viewer") "visual-editor" "viewer"}}
          @disabled={{this.modelStorage.isPlottingError}}
          {{on "click" this.trackViewModels}}
          {{on "touch" this.trackViewModels}}
        >
          <div class="p-3 hover:bg-gray-300">
            {{#if (eq @currentPath "viewer")}}
              Edit Models
            {{else}}
              View Models
            {{/if}}
          </div>
        </LinkTo>
        <div role="button" class="p-3 hover:bg-gray-300" data-test-export-import-button
          {{on "click" this.trackExportImport}}
          {{on "touch" this.trackExportImport}}
          {{on "click" @exportImportCallback}}
          {{on "touch" @exportImportCallback}}
        >
          Export/Import
        </div>
        <div role="button" class="p-3 hover:bg-gray-300" data-test-reset-models-button
          {{on "click" @resetModelsCallback}}
          {{on "touch" @resetModelsCallback}}
        >
          Reset Models
        </div>
        <div role="button" class="p-3 hover:bg-gray-300" data-test-settings-button
          {{on "click" this.trackSettings}}
          {{on "touch" this.trackSettings}}
          {{on "click" @settingsCallback}}
          {{on "touch" @settingsCallback}}
        >
          Settings
        </div>
      </div>
    </div>
  </div>

  <div class="mx-2 px-3 flex border-l border-solid border-gray-300">
    <div class="tooltip mx-1">
      <LinkTo class={{if this.modelStorage.isPlottingError "cursor-not-allowed"}} data-test-json-editor-button
        @route={{if (eq @currentPath "json-editor") "visual-editor" "json-editor"}}
        @disabled={{this.modelStorage.isPlottingError}}
        {{on "click" this.trackToggleJson}}
        {{on "touch" this.trackToggleJson}}
      >
        <Icons::JsonEditor @size="1.25rem" @color={{if (eq @currentPath "json-editor") "#17AD38" "#5F6369"}} />
      </LinkTo>

      <span class="tooltiptext">Toggle JSON Editor</span>
    </div>

    <div class="mx-1 cursor-pointer tooltip" role="button" data-test-help-button
      {{on "click" this.trackHelp}}
      {{on "touch" this.trackHelp}}
      {{on "click" @helpCallback}}
      {{on "touch" @helpCallback}}
    >
      <Icons::Help @size="1.25rem" @color="#5F6369"/>

      <span class="tooltiptext">Help</span>
    </div>
  </div>
</nav>