<div class="h-main relative">
  <div class="{{unless this.error "hidden"}} flex flex-col absolute w-full {{if @editMode "error-alert-edit-mode-width"}} {{if (eq this.error.name "PlottingError") "h-main bg-white"}}">
    <ErrorAlert @error={{this.error}} class="w-full" />

    {{#if (eq this.error.name "PlottingError")}}
      <div class="flex-1 flex justify-center items-center">
        <div class="text-red-900 text-center">
          <p class="text-xl roboto-bold">Unplottable Graph</p>

          <p>You need to solve the issues to use the Visual Editor or the View Mode.</p>
        </div>
      </div>
    {{/if}}
  </div>

  <div class="relative h-full {{if (eq this.error.name "PlottingError") "hidden"}}">
    <div id="visualizer"
      {{did-insert this.createModelViewer}}
      {{did-update this.updateEditMode @editMode}}
      {{will-destroy this.destroyModelViewer}}>
    </div>

    {{#if (and @editMode this.displayHints)}}
      <Hints @closeCallback={{fn this.setDisplayHints false}} class="absolute bottom-0 hint-edit-mode-width" />
    {{/if}}
  </div>
</div>
