{{#if this.error}}
  <div class="absolute w-full">
    <ErrorAlert @error={{this.error}} class={{if @editMode "error-alert-edit-mode" "error-alert"}} />
  </div>
{{/if}}

<div id="visualizer" class="h-100"
  {{did-insert this.createModelViewer}}
  {{did-update this.updateEditMode @editMode}}
  {{will-destroy this.destroyModelViewer}}>
</div>
