<select class="custom-select" ...attributes
  {{on "change" this.selectItem}}
  {{did-update this.update @selectedItem @onSelectCallback}}
>
  {{#each @items as |item|}}
    <option value={{item}} selected={{eq item this.selectedItem}}>{{item}}</option>
  {{/each}}
</select>
