<div
  {{did-insert this.createStorageHandler}}
  {{will-destroy this.destroyStorageHandler}}
>
  <HeaderBar
    @helpCallback={{this.showHelpPopUp}}
    @exportImportCallback={{this.showExportImportPopUp}}
    @settingsCallback={{this.showSettingsPopUp}}
    @resetModelsCallback={{this.showResetModelsPopUp}}

    @currentPath={{this.router.currentRouteName}}
  />

  <main id="main">
    {{outlet}}
  </main>

  <FooterBar />
</div>

{{#if this.displayHelpPopUp}}
  <PopUps::Help @overlayCallback={{this.hideHelpPopUp}} />
{{/if}}

{{#if this.displayExportImportPopUp}}
  <PopUps::ExportImport @overlayCallback={{this.hideExportImportPopUp}} />
{{/if}}

{{#if this.displaySettingsPopUp}}
  <PopUps::Settings @overlayCallback={{this.hideSettingsPopUp}} />
{{/if}}

{{#if this.displayResetModelsPopUp}}
  <PopUps::Confirmation data-test-reset-models-pop-up
    @acceptCallback={{this.resetModels}}
    @cancelCallback={{this.hideResetModelsPopUp}}

    @acceptMessage="Reset"
    @cancelMessage="Cancel"
  >
    <p>Are you sure you want to reset the models?</p>
    <p class="text-gray-600 text-xs italic my-2">You might lose your current models. Make sure to save your models before reseting.</p>
  </PopUps::Confirmation>
{{/if}}
