<SideBar id="side-bar" class="side-bar h-full py-4 {{if this.isSideBarShown "side-bar-shown" "side-bar-hidden"}}" @hideSideBarCallback={{this.hideSideBar}} />

<div id="overlay" class="overlay animate-opacity-in {{if this.isSideBarShown "overlay-shown" "overlay-hidden"}}" {{on "click" this.hideSideBar}} role="button"></div>

<div id="main" class="h-screen w-screen max-w-screen px-4 pt-4 bg-grey-lightest">
  <HeaderBar class="header-bar" @showSideBarCallback={{this.showSideBar}} />

  <div class="h-v-90">
    {{outlet}}
  </div>
</div>