<div>
  <HeaderBar
    @helpCallback={{this.showHelpPopUp}}
    @exportImportCallback={{this.showExportImportPopUp}}
    @settingsCallback={{this.showSettingsPopUp}}

    @currentPath={{this.router.currentRouteName}}
  />

  <main id="main">
    {{outlet}}
  </main>

  <FooterBar />
</div>

{{#if this.displayHelpPopUp}}
  <PopUps::Help @overlayCallback={{this.hideHelpPopUp}} />
{{/if}}

{{#if this.displayExportImportPopUp}}
  <PopUps::ExportImport @overlayCallback={{this.hideExportImportPopUp}} />
{{/if}}

{{#if this.displaySettingsPopUp}}
  <PopUps::Settings @overlayCallback={{this.hideSettingsPopUp}} />
{{/if}}