<div class="flex flex-row w-full h-v-90">
  <div class="w-1/2 pr-2">
    <div class="flex flex-col h-v-85">
      <div class="py-1">
        <h2 class="inline-block">Json Editor</h2>

        <div class="inline-block mx-1">
          <LinkTo @route="editor" class="no-underline">
            <MaximizeIcon @size="18" @color="black" @strokeWidth="2.5" />
          </LinkTo>
        </div>
      </div>

      <JsonEditor @class="w-full" @onError={{this.setError}} />
    </div>
  </div>

  <div class="w-1/2 pl-2">
    <div class="flex flex-col h-v-85">
      <div class="py-1">
        <h2 class="inline-block">Graph Visualizer</h2>

        <div class="inline-block mx-1">
          <LinkTo class="no-underline" @route="visualizer">
            <MaximizeIcon @size="18" @color="black" @strokeWidth="2.5" />
          </LinkTo>
        </div>

        <div class="inline-block float-right mr-1">
          <LinkTo class="no-underline {{if (not-eq error null) "cursor-not-allowed" ""}}" @route="visualizer" @query={{hash editMode="true"}} @disabled={{not-eq error null}}>
            <EditIcon @color="black" @size="18" />
          </LinkTo>
        </div>
      </div>

      <ModelViewer @class="w-full" @editMode={{false}} @ignoreErrors={{true}} />
    </div>
  </div>
</div>
