{{!-- template-lint-disable no-invalid-interactive --}}

{{title "JSON Editor" prepend=true}}
{{title "A text editor for AltWalker and GraphWalker models." prepend=false}}

<div class="w-screen h-main flex flex-colloms"
  {{did-insert this.createDragable}}
  {{will-destroy this.destroyDragable}}
>
  <div id="left">
    <ModelViewer class="h-main w-full" @editMode={{false}} />
  </div>

  <div id="dragbar" class="h-main bg-gray-300" role="button" {{on "mousedown" this.dragstart}}>
  </div>

  <div id="right" class="h-main">
    <JsonEditor class="h-main" />
  </div>
</div>
