<div class="flex flex-col h-v-90">
  <div class="py-1">
    <h2 class="inline-block">{{title}}</h2>

    <div class="inline-block mx-1">
      <LinkTo @route="editor-visualizer" class="no-underline">
        <MinimizeIcon @color="black" @size="18" @strokeWidth="2.5" />
      </LinkTo>
    </div>

    <div class="inline-block float-right mr-1">
      <button {{action "toggleEditMode"}} disabled={{not-eq error null}} class={{if (not-eq error null) "cursor-not-allowed" ""}}>
        <EditIcon @color="black" @size="18" />
      </button>
    </div>
  </div>

  <ModelVisualizer @class="h-full" @editMode={{editMode}} @onError={{action "setError"}} />
</div>
